* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.5;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  background: linear-gradient(#61bdce, #1d5b79);
}

/* Boton modo oscuro*/



#container {
  width: 60px;
  height: 35px;
  position: relative;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: #e9e9eb;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.slider {
  position: absolute;
  inset: 2.5px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
}

.checkbox:checked + .switch {
  background-color: #000000;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 2.5px);
}

#barra_con_boton {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  margin: auto;
  position: fixed;
  padding: 3%;
  background-color: #ef6262;
  border: 4px black dashed;
  box-shadow: 0 10px 10px -10px #585656;
}

#logotipo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-height: 100px;
  padding: 3%;
  padding-left: 5%;
  border-radius: 20px;
}

.barra_navegacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  height: 80%;
}

.elemento_navegacion {
  margin: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.activate {
  background-color: white;
  margin: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

body.oscuro-activado{
background-color: #000000;
}

/* menu hamburguesa*/

#menu-btn {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 26px;
  width: 40px;
  height: 40px;
}

i#close-menu {
  display: none;
}

nav {
  display: none;
}

body.mobile-menu-activate {
  overflow: hidden;
}

body.mobile-menu-activate i#close-menu {
  display: block;
  padding-top: 10px;
}

body.mobile-menu-activate i#open-menu {
  display: none;
}

body.mobile-menu-activate header {
  height: 40vh;
  flex-wrap: wrap;
  align-items: flex-start;
  transition: height 0.3s;
}

body.mobile-menu-activate nav {
  display: block;
  width: 100%;
  height: 50%;
}

body.mobile-menu-active ul.elemento_navegacion {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

figure {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 70px;
}

#imagen_rommell {
  width: 92%;
  height: 92%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 70%;
  border: 4px black;
  border-style: ridge;
  margin-top: 30px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700px;
  font-size: 36px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 5px auto 5px auto;
}

#nota_1 {
  background-color: #f3aa60;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  text-align: justify;
  font-size: 18px;
  max-width: 700px;
  width: 90%;
  margin: 20px auto 20px auto;
  padding: 1em;
  border-radius: 20px;
}

#boton_cv {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3aa60;
  text-align: center;
  height: 50px;
  color: black;
  border: 2px black dashed;
  width: 200px;
  margin: 20px auto 0px auto;
  border-radius: 30px;
}

#boton_cv:hover {
  background-color: aqua;
}

#secundaria {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 30px auto;
  text-align: center;
  width: 90%;
  max-width: 700px;
  border-radius: 40px;
  background-color: #ef6262;
}

#texto_1 {
  font-family: "Lato", sans-serif;
  /*background-color: rgb(175, 89, 158, 0.3);*/
  color: #0f0f0f;
  padding: 15px 15px 30px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
}

#texto_2 {
  font-family: "Lato", sans-serif;
  /*background-color: rgb(175, 89, 158, 0.3);*/
  color: #0f0f0f;
  padding: 0px 15px 15px 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
}

.grupo_iconos {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 0px auto 0px auto;
}

.icono {
  width: 80%;
  max-width: 80px;
  margin: 30px 15px 80px 15px;
}

footer {
  background-color: #f3aa60;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#texto_footer {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  max-width: 50%;
}

main {
  max-width: 1200px;
  margin: auto;
}

span {
  color: red;
}

#bandera {
  width: 16px;
  height: 12px;
}

body.oscuro-activado{
  background: #000000;
  }

body.oscuro-activado main h1#titulo_nombre {
  color: white;
}
  

@media (min-width: 1024px) {
  #primaria {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #imagen_rommell {
    max-width: 400px;
    max-height: 400px;
    margin-top: 0px;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  #menu-btn {
    display: none;
  }

  .barra_navegacion {
    display: flex;
    flex-direction: row;
  }

  #texto_footer {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  #nota_1 {
    max-width: 410px;
  }
}
